@font-face {
  font-family: "myMuli";
  src: url("./content/fonts/Mulish-ExtraBold.ttf");
}
.box {
  background-color: #191919;
  position: absolute;
  
  width: 100%;
  height: 112px;
  margin-left: -8px;
  top: 0px;
}
nav {
  position: absolute;
  background-color: white;
  width: 88%;
  height: 43px;
  left: 80px;
  top: 84px;
  padding-top: 12px;
}
.nav-item {
  text-decoration: none;
  color: black;
  font-family: myMuli;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2px;

  margin-left: 63px;
}
.nav-item-icon {
  float: right;
  padding-left: -148px;
  padding-right: 45px;
  margin-inline: -22px;
  margin-top: 10px;
}
img {
  position: relative;
  width: 48%;
  height: 382px;
  margin-left: 17px;
  margin-right: -7px;
  margin-top: 159px;
}
.fa-twitter:before {
  content: "\f099";
  margin-inline: 20px;
  font-size: 20px;
}

.fa-search:before {
  content: "\f002";
  font-size: 20px;
}

.logo {
  width: 339px;
  height: 49px;
  top: -146px;
  margin-left: 40%;
}

.container {
  position: relative;
}
.text-box {
  position: absolute;
}

.icons-yellow {
  color: #ffa301;
}
.icons-yellow:hover {
  color: black;
}

span {
  color: #f89f02;
}

.box2 {
  position: absolute;
  margin-top: 10px;
  margin-left: 51px;
}

a:hover {
  color: #f89f02;
}
body {
  background-color: whitesmoke;
}

footer {
  font-family: cursive;
  font-size: 23px;
  background-color: blanchedalmond;
  color: blue;
  text-align: center;
}
